server {
    listen 80;
    location / {
        proxy_pass ${S3_BUCKET_DOMAIN_NAME};
        s3_bucket ${S3_BUCKET};

        proxy_set_header Authorization $s3_auth_token;
        proxy_set_header x-amz-date $aws_date;

        proxy_cache        s3cache;
        proxy_cache_valid  200 302  24h;
    }
    location /nginx-health {
        access_log off;
        return 200 "healthy\n";
    }
}
